configuration {
    modi:                "drun,run,window";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    font:                "JetBrains Mono 11";

    dynamic:             false;
    fixed-num-lines:     true;

    display-drun:        " ";
    drun-prompt:         " ";

    drun { 
        lines: 12;
        columns: 1;
    }
}

@theme "~/.config/rofi/themes/pywal-theme.rasi"
